h1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #2941C2;
}

p {
  text-align: center;
}

.container {
  text-align: center;
}

.footer {
  text-align: center;
  background-color: #7753A2;
  color: #A98325;
  border-radius: 10px;
  border-color: purple;
}
