<h1> Welcome </h1>
<p>History Site</p>

<div class="container">
  {{#each model as |artwork|}}
    {{artwork-tile artwork=artwork destroyArtwork="destroyArtwork"}}
    {{/each}}
</div>

<br>
<br>

<div class="footer">
  {{new-artwork saveArtwork2="saveArtwork3"}}

  {{#link-to 'about'}}About Us{{/link-to}}
  {{#link-to 'contact'}}Contact Us{{/link-to}}
</div>
